<!DOCTYPE html>
<html lang="sv">
<head>
    <%- include('./partials/head'); %>
    <%- include('./partials/reset'); %>
    <%- include('./partials/styles'); %>
    <title>Flygplatsen kunde inte hittas • ankomster.nu</title>
</head>
<body>
<div class="container">
    <h1>Ankomster</h1>
    <p>Flygplatsen kunde inte hittas. <a href="/">Gå tillbaka till startsidan</a></p>

    <%- include('partials/footer'); %>
</div>
</body>
</html>
