<!DOCTYPE html>
<html lang="sv">
<head>
    <%- include('./partials/head'); %>
    <%- include('./partials/reset'); %>
    <%- include('./partials/styles'); %>
    <title>Ett oväntat fel inträffade • ankomster.nu</title>
</head>
<body>
<div class="container">
    <h1>Ankomster</h1>
    <p>Ett oväntat fel inträffade och flyginformationen kunde inte laddas. Skicka gärna ett e-post till <a href="mailto:bugg@ankomster.nu">bugg@ankomster.nu</a> och förklara vad du försökte göra. Prova också att <a href="/">gå tillbaka till startsidan</a>.</p>

    <%- include('partials/footer'); %>
</div>
</body>
</html>
