<!DOCTYPE html>
<html lang="sv">
<head>
    <%- include('./partials/head'); %>
    <%- include('./partials/reset'); %>
    <%- include('./partials/styles'); %>
    <style>
        ul {
            list-style: none;
        }

        li {
            margin-bottom: 1.5rem;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Ankomster</h1>
    <ul>
        <ul>
            <li><a href="/airports/ARN">Stockholm Arlanda</a></li>
            <li><a href="/airports/GOT">Göteborg Landvetter</a></li>
            <li><a href="/airports/BMA">Stockholm Bromma</a></li>
            <li><a href="/airports/MMX">Malmö Sturup</a></li>
            <li><a href="/airports/LLA">Luleå</a></li>
            <li><a href="/airports/UME">Umeå</a></li>
            <li><a href="/airports/OSD">Östersund</a></li>
            <li><a href="/airports/VBY">Visby</a></li>
            <li><a href="/airports/RNB">Ronneby</a></li>
            <li><a href="/airports/KRN">Kiruna</a></li>
        </ul>
    </ul>
</div>
</body>
</html>
