<!DOCTYPE html>
<html lang="sv">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
<h1>Ankomster</h1>
<ul>
    <ul>
        <li><a href="/airports/ARN">ARN</a></li>
        <li><a href="/airports/GOT">GOT</a></li>
        <li><a href="/airports/BMA">BMA</a></li>
        <li><a href="/airports/MMX">MMX</a></li>
        <li><a href="/airports/LLA">LLA</a></li>
        <li><a href="/airports/UME">UME</a></li>
        <li><a href="/airports/OSD">OSD</a></li>
        <li><a href="/airports/VBY">VBY</a></li>
        <li><a href="/airports/RNB">RNB</a></li>
        <li><a href="/airports/KRN">KRN</a></li>
    </ul>
</ul>
</body>
</html>
