.nav {
  margin: 0 1rem;
  display: flex;
  gap: 1rem;
}

.airport {
  display: inline-block;
  color: var(--white);
}

.inactiveNavItem {
  color: var(--white);
}

.activeNavItem {
  color: var(--yellow);
  text-decoration: underline;
}
