.airport-picker {
    margin: 0 16px;
}

.airport-picker > h1 {
    color: var(--white);
    margin: 16px 0;
}

.airport-picker > h1 > span {
    color: var(--yellow);
}

.airport-picker > h2 > a {
    color: var(--yellow);
}

.airport-picker > h2 > a {
    margin: 0 0 16px 0;
}
